/*
Theme Name:     Boulder Child
Theme URI:      http://www.commercegurus.com/themes/boulder-woocommerce-theme/
Description:    Child theme for Boulder
Author:         CommerceGurus
Author URI:     http://www.commercegurus.com
Template:       boulder
Version:        1.0
*/
/* Your css goes here */



button.single_add_to_cart_button {
	background:#000!important;
}

#place_order,.woocommerce-page .container .cart-collaterals .coupon input.button {
	background:#000!important;
}

.woocommerce-page .container .cart-collaterals input.update-button,.woocommerce .update-button,.checkout-button {
	background:#000!important;
	border:1px solid #000!important;
	color:#fff!important;
}

.vc_custom_1430386083025 {
	padding-right:0;
}

.cg-strip .valign-center {
	bottom:10%!important;
	font-size:20px!important;
}

.cg-strip-1112099702 {
	background-color:#000!important;
}

#cg-page-wrap .perfect_gift_wrapper {
	background-color:gray;
}
.padding_tp10 {
	padding-top:10px;
}

.cg-menu-ul li a:hover{
	color: #fff !important;
	background: #000;
}

.menu li a:hover{
	color: #fff !important;
	background: #000;
}
#order_comments_field{
   margin-bottom: 20px !important; 
}
